# =========================
# Java / Build result
# =========================
target/
build/
out/
*.class

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml
*.iws
*.ipr

# =========================
# Eclipse
# =========================
.classpath
.project
.settings/
.apt_generated/
.factorypath

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# Local config / secret files
# =========================
3TierTask/src/kr/or/kosa/utils/properties
/.metadata/
WebScript/Servers/
